<div class="mt-4">
    <h3>Cập Nhật Khóa Học</h3>

    <form class="mt-4" method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="mb-3">
            <label for="name" class="form-label">Tên Khóa Học</label>
            <input type="text" class="form-control" value="{{ course.name }}" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô Tả</label>
            <textarea class="form-control" id="description" name="description">{{ course.description }}</textarea>
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">Video ID</label>
            <input type="text" class="form-control" value="{{ course.videoId }}" id="videoId" name="videoId">
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Trình Độ</label>
            <input type="text" class="form-control" value="{{ course.level }}" id="level" name="level">
        </div>
        
        <button type="submit" class="btn btn-primary">Lưu Lại</button>
    </form>
</div>